PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/constructionDB
JWT_SECRET=apna_strong_access_secret_min_32_chars
JWT_REFRESH_SECRET=apna_strong_refresh_secret_min_32_chars
NODE_ENV=development
FRONTEND_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
